@model UploadViewModel
<form asp-action="Index" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <h4>upload your cringe song loser.</h4>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UploadTitle" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="UploadTitle" class="form-control" />
            <span asp-validation-for="UploadTitle" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UploadAuthor" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="UploadAuthor" class="form-control" />
            <span asp-validation-for="UploadAuthor" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UploadFile" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="UploadFile" type="file">
            <span asp-validation-for="UploadFile"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete upload" />
        </div>
    </div>
    

</form>